{% extends "base.html" %}
{% block title %}{{companies.name}}{% endblock %}

{% block content %}
{% if user.is_authenticated %}

<div class="col-md-6">

  <ul style="list-style: none; padding-top: 20px">
    <li><p><strong>Name:</strong> {{companies.name}}</p></li>
    <li><p><strong>DS-Code:</strong> {{companies.DSCD}}</p></li>
    <li><p><strong>ESG-Score:</strong> {{companies.ESG}}</p></li>
    <li><p><strong>Environmental Score:</strong> {{companies.ENV}}</p></li>
    <li><p><strong>Social Score:</strong> {{companies.SOC}}</p></li>
    <li><p><strong>Governance Score:</strong> {{companies.CGV}}</p></li>
    <li><p><strong>Quality Score:</strong> {{companies.QUAL}}</p></li>
    <li><a href="{% url 'agcs:companies_list' %}"><strong>Back</strong></a></li>
  </ul>
</div>

<div class="col-md-6">
  <canvas id="myChart" width="400%" height="400%"></canvas>
  <script>
  var ctx = document.getElementById("myChart").getContext('2d');
  var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
          labels: ["ESG Score", "Environmental Score", "Social Score", "Governance Score", "Quality Score"],
          datasets: [{
              label: 'Score Value',
              data: [{{companies.ESG}}, {{companies.ENV}}, {{companies.SOC}}, {{companies.CGV}}, {{companies.QUAL}}],
              backgroundColor: [
                  'rgba(255, 206, 86, 0.2)',
                  'rgba(75, 192, 192, 0.2)',
                  'rgba(255, 99, 132, 0.2)',
                  'rgba(54, 162, 235, 0.2)',
                  'rgba(121, 23, 49, 0.2)'

              ],
              borderColor: [
                  'rgba(255, 206, 86, 1)',
                  'rgba(75, 192, 192, 1)',
                  'rgba(255,99,132,1)',
                  'rgba(54, 162, 235, 1)',
                  'rgba(121, 23, 49, 1)'

              ],
              borderWidth: 1
          }]
      },
      options: {
        responsive: false,
          scales: {
              yAxes: [{
                  ticks: {
                      beginAtZero:true,
                      max:100
                  }
              }]
          }
      }
  });
  </script>
</div>


  <div class="chartjs-wrapper col-md-6" style="width: 110%; padding-left: 60px; margin-top: 15px margin-bottom: 10px">

    <canvas id="chartjs-0" class="chartjs" width="undefined" height="undefined"></canvas>
    <script>
    new Chart(document.getElementById("chartjs-0"),
    {"type":"line",
      "data":{"labels":
        [{% for year in companies.years_set.all %}
            {{year.year}},
        {% endfor %}],
        "datasets":
          [{"label":"ESG Score",
          "data":[{% for year in companies.years_set.all %}
                    {{year.ESG}},
                  {% endfor %}],
          "fill":true,
          "borderColor":"rgb(255, 206, 86)",
          "lineTension":0.1},
          {"label":"Environmental Score",
          "data":[{% for year in companies.years_set.all %}
                    {{year.ENV}},
                  {% endfor %}],
          "fill":false,
          "borderColor":"rgb(75, 192, 192)",
          "lineTension":0.1},
          {"label":"Social Score",
          "data":[{% for year in companies.years_set.all %}
                    {{year.SOC}},
                  {% endfor %}],
          "fill":false,
          "borderColor":"rgb(255,99,132)",
          "lineTension":0.1},
          {"label":"Governance Score",
          "data":[{% for year in companies.years_set.all %}
                    {{year.CGV}},
                  {% endfor %}],
          "fill":false,
          "borderColor":"rgb(54, 162, 235)",
          "lineTension":0.1},
          {"label":"Quality Score",
          "data":[{% for year in companies.years_set.all %}
                    {{year.QUAL}},
                  {% endfor %}],
          "fill":false,
          "borderColor":"rgb(121, 23, 49)",
          "lineTension":0.1}]},"options":{}});
      </script>
    </div>

{% else %}
<p>Please <a href="{% url 'login' %}">log in</a>.</p>

{% endif %}

{% endblock %}
